<div class="login">
  <div class="card">
    <h5 class="card-header">Log In</h5>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="login-email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="login-email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="login-password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="login-password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <p><br><a href="/signup">or sign up here, instead!</a></p>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>