:root { /* https://coolors.co/palette/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf */
    --one: #EDEDE9;
    --two: #D6CCC2;
    --three: #F5EBE0;
    --four: #E3D5CA;
    --five: #D5BDAF;
}

body {
    background-color: var(--one);
}

.navbar {
    background-color: var(--two);
}

main {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.homepage {
    display: flex;
}

.post-page {
    display: flex;
    flex-direction: column;
}

.post-page .card,
.login .card,
.signup .card {
    width: 75rem;
}

.homepage .card {
    width: 30rem;
}

.homepage .card,
.post .card,
.login .card,
.signup .card {
    margin: 15px;
    background-color: var(--two);
}

.homepage .card-author,
.post .card-author {
    color: var(--three);
}

a,
a:hover {
    color: inherit;
    text-decoration: inherit;
}

.comments .card {
    margin: 15px;
    background-color: var(--three);
}

.add-comment-card button,
.add-comment-card button:hover,
.signup button,
.signup button:hover,
.login button,
.login button:hover {
    background-color: var(--five);
    border-color: var(--five);
}